
useDynLib(KFKSDS)

export(
DS,
DS.deriv,
KalmanFilter,
KF,
KF.C,
KF.deriv,
KF.deriv.C,
KSDS,
KSDS.deriv,
KFKSDS.deriv.C,
KFKSDS.deriv.steady.C,
KS,
KS.deriv,
make.KF.args)

S3method(predict, stsmSS)
